TestletApplication/TestletLibrary/TestletItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ItemId" type="xs:unsignedByte" />
              <xs:element name="ItemDesc" type="xs:string" />
              <xs:element name="Answers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Answer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AnswerId" type="xs:unsignedByte" />
                          <xs:element name="AnswerDesc" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SelectedAnswerId" type="xs:unsignedByte" />
              <xs:element name="CorrectAnswerId" type="xs:unsignedByte" />
              <xs:element name="ItemType" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>